<!-- <link rel="stylesheet" href="/css/popup.css"> -->

<link rel="stylesheet" href="/css/homehabbit.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <%- style %>
<body>
    <%- include('_header'); %>

        <main id="layout-main">
            <%- body %>
        </main>

    <%- include('_footer'); %>

    <%- script %>
    <script src="/xopupTry/popup.js"></script>
</body